
body{

  height: 10000px;
  background-color: lightgrey;

}

body.login{
  background-color: #10141b;
  font-family: Butler,serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}


.titre{
  margin-top: 60px;
  margin-left: 550px;
  font-size: 3.75rem;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;

}
.users{
  text-transform: uppercase;
  font-size: 3rem;
}
.content_center{
  box-shadow: 1px 2px 2px 2px grey;
  text-align: center;
  padding: 2px;
  overflow-y : scroll;
  overflow : -moz-scrollbars-horizontal;
  margin:10px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  width: 800px;
}
form.ajoutsort{
  background-color: #27682F;
}
button.turn{
  text-transform : uppercase;
  margin: 5px;
  border: 0px;
  box-shadow: 1px 1px 1px 1px grey;
  width: 150px;
  background-color:#EFEFEF;

}
button:hover {
  background-color: grey;
  transition-duration: 0.4s;
}
input.case{
  text-transform : uppercase;
  margin: 5px;
  border: 0px;
  box-shadow: 1px 1px 1px 1px grey;
  width: 200px;
  text-align: center;
  background-color:#EFEFEF;
}
img.head{
  width:1440px;
  height: 200px;
}


#banner_turn{

  background-color: #645862;
  background-image: url("back_serp.jpg");
  background-position: center;

  background-size: 100%;
  color: #fff;
  cursor: default;
  padding: 6em 0;
  text-align: center;
  border-bottom: 2px solid black;
}

#banner .inner {
  -moz-animation: reveal-banner 1s 0.25s ease-in-out;
  -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
  -ms-animation: reveal-banner 1s 0.25s ease-in-out;
  animation: reveal-banner 1s 0.25s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  color: #fff;
  display: inline-block;
  opacity: 0;
  padding: 3em;
  text-align: center;
}

#banner .inner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}

#banner .inner header h2 {
  border-bottom: solid 2px;
  border-top: solid 2px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
}

#banner .inner p {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

#banner .inner p a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

#banner .inner footer {
  margin: 2em 0 0 0;
}



#menu{
  align-items: right;
  background-color: #9A1C1F;
  text-align: right;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.70;
  z-index:2;

}
#menu ul {
  margin:0;
  padding:0;
  list-style-type:none;
  background-color: #9A1C1F;
  text-align:center;

}
#menu li {
  float:left;
  margin:auto;
  padding:0;
  background-color:black;
}
#menu li a {
  display:block;
  width:200px;
  color:white;
  text-decoration:none;
  padding:5px;
}
#menu li a:hover {
  color:#9A1C1F;
}
#menu ul li ul {
  display:none;
}
#menu ul li:hover ul {
  display:block;
}
#menu li:hover ul li {
  float:none;
}
#menu li ul {
  position:absolute;
}

footer{
  border: 4px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //z-index: 100;
  background: #1A4E20;
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 50px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right:30px;
  font-family: Butler,serif;
  color: #fff;
}

footer.turneffect{
  border: 4px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //z-index: 100;
  background: #1A4E20;
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 50px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right:30px;
  font-family: Butler,serif;
  color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
}

.connexion{
  border: unset;
  background-color: unset;
  cursor: pointer;
  font-family: Sofia Pro,serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.07px;
  color: #f9f4f2;
  padding-top: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.bouton {
  border:none;
  padding:6px 8px 6px 8px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#fff;
  font:bold 13px Arial;
  color:#555;
}

th {
  border-bottom: 2px solid grey;
}

.ancien{
  background-color: #27682F;
}

main.center{
  box-shadow: 1px 2px 2px 2px #27682F;
  text-align: center;
  padding: 2px;
  overflow-y : scroll;
  overflow : -moz-scrollbars-horizontal;
  margin:10px;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
  width: 750px;
}
input.connect{
  background-color: hsla(0,0%,100%,.05);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: inherit;
  padding: 18px 20px 14px;
  margin: 8px 0;
  border: 1px solid hsla(0,0%,59.2%,.2);
  border-radius: 3px;
  transition: border .3s ease-in-out;
}
.authentif{
  width: 311px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input.envoie{
  color: #3a372e;
  border-radius: 30px;
  min-width: 200px;
  font-family: Sofia Pro,serif;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 1.1px;
  transition: background-color .3s ease-in-out;
  padding: 14px 31px;
  margin-top: 40px;
  background-color: #cec094;
}

#divConteneur{
min-height:60px;
height:60px;/*pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height*/
min-width:60px;
width:60px;/*pour IE qui comprend rien*/
overflow:auto;/*pour activer les scrollbarres*/
}
